
td, th {
  border: none!important;
  padding-top: 0px;
  padding-bottom: 0px;
}

.summary {
  padding: 28px;
}

hr {
  border-top: 1px solid #99e69a;
  margin: 40px;
}

.center {
  display: flex;
  justify-content: center; /* align horizontal */
  /*align-items: center*/
}

.row {
  margin-top: 20px;
}
