<div *ngIf="searchResult !== undefined" class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h5 class="text-center"> {{ searchResult.name }} -
        S<span *ngIf="searchResult.season < 10">0</span>{{ searchResult.season }}E<span *ngIf="searchResult.number < 10">0</span>{{ searchResult.number }}</h5>
      <div *ngIf="searchResult.image !== undefined" class="center">
        <img *ngIf="searchResult.image !== null" [src]="searchResult.image.medium"
             alt="poster is not available">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="center">
        <div [innerHtml]="searchResult.summary" class="summary"></div>
      </div>
    </div>
  </div>
  <br>
  <button (click)="goBack()" class="btn btn-info">Back</button>

</div>
