<div *ngIf="searchResult !== undefined" class="container">
  <table class="table">
    <tbody>
    <tr *ngIf="searchResult[0] !== undefined">
      <th> {{ searchResult[0].name }}</th>
      <td><img *ngIf="searchResult[0].image !== null" [src]="searchResult[0].image.medium" alt="poster is not available"></td>
      <td class="summary" [innerHtml]="searchResult[0].summary"></td>
    </tr>
    </tbody>
  </table>

  <h4>Cast</h4>
  <span *ngFor="let result of searchResult[1]; let i = index">
    <a *ngIf="result !== undefined" (click)="reRouteToPerson(result.person?.id)">{{ result.person?.name }}</a><span *ngIf="i < searchResult[1].length - 1">,</span>
  </span>
  <br><br>

  <h4>Episodes</h4>
  <table class="table table-striped">
    <tr *ngFor="let episode of searchResult[2]">
      <th><a (click)="reRouteToEpisode({season: episode.season, episode: episode.number})">{{ episode.name }}</a></th>
      <td>{{ episode.season }}</td>
      <td>{{ episode.number }}</td>
      <td>{{ episode.airdate }}</td>
      <td>{{ episode.airtime }}</td>
    </tr>
  </table>
</div>
