input {
  text-align: center;
  font-size: 150%;
  color: #00a172;
  background-color: black;
  text-transform: uppercase;
  font-weight: bold;
  border-color: #066c3f;
}

input:focus {
  color: #00a172;
  background-color: black;
  border-color: #066c3f;
}

.h60px {
  height: 60px!important;
}

.responsive-input {
  width: 200px!important;
}


@media (min-width: 650px) {
  .responsive-input {
    width: 400px!important;
  }
}
