<nav class="navbar navbar-fixed-top navbar-expand-md navbar-dark h80px"
     style="background-color: #00a172">
  <div class="d-flex">
    <a class="navbar-brand" routerLink="/">Movies</a>
  </div>
  <button class="navbar-toggler order-3" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse justify-content-center">
   <app-search-field></app-search-field>
  </div>
  <span class="navbar-text small text-truncate mt-1">always show</span>
</nav>
