td img {
  max-width: 110px;
}

th {
  min-width: 200px;
}

td, th {
  border: none!important;
}

.card {
  margin-top: 20px;
  background-color: #080808;
}

.image-overlay {
  overflow: hidden;
  max-height: 241.94px;
}
